/*Image Slider*/
.carousel-inner > .item > img {
  width:350px;
  height:250px;
}
.carousel {
  width:350px;
  height:250px;
}

@media screen and (max-width: 992px) {
  .nav-pills{
    display: none;
  }
}
